%p#notice= notice

%p
  %b Name:
  = @portfolio.name
%p
  %b Url:
  = @portfolio.url
%p
  %b Image:
  = @portfolio.image

= link_to 'Edit', edit_portfolio_path(@portfolio)
\|
= link_to 'Back', portfolios_path
